# Python & Caches
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.pytest_cache/
*.egg-info/
build/
dist/

# Ambientes Virtuais
.venv/
venv/
env/
cosmology_env/

# Checkpoints do Sampler & Cache de Estado
*.resume
*.pkl

# Dados pesados e saídas numéricas do Nested Sampling
EP_I/old/
*.npz
*.chain

# Configurações de editores e OS
.vscode/
.idea/
.DS_Store
